[Unit]
Description=Mini site - interface to youtube player
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/yt_player
ExecStart=+/usr/bin/python3 /home/pi/yt_player/player_service.py
KillMode=process

[Install]
WantedBy=multi-user.target
