[Unit]
Description=Mini site - interface to youtube player
After=network.target

[Service]
Type=simple
User=root
Environment=FLASK_APP=player_site.py
WorkingDirectory=/home/pi/ytplayer
ExecStart=+/usr/bin/flask run --host 192.168.0.51 --port 80
KillMode=process

[Install]
WantedBy=multi-user.target
