<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Michał Chrzanowski">
    <title>YouTube Player interface</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-slider.css') }}">

    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/slider.js') }}"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script>
        $(document).ready(function(){

            $("a[href='#result']").click(function(){
                $video_id = $(this).attr("id");
                $link_selector = "#".concat($video_id);
                $row_selector = $link_selector.concat("-row");

                $.getJSON($SCRIPT_ROOT + '/play_video', {
                    video_id: $video_id
                  }, function(data) {
                    $("tr").removeClass("is-selected");
                    $("a[href='#result']").removeClass("is-warning");
                    $("a[href='#result']").html('<i class="fa fa-play"></i>');

                    if (data.status == "playing")
                    {
                        $($row_selector).addClass("is-selected");
                        $($link_selector).addClass("is-warning");
                        $($link_selector).html('<i class="fa fa-stop"></i>');
                    }
                  });
                return false;
            });

            $("#track-stop").click(function(){
                $.getJSON($SCRIPT_ROOT + '/stop_video', function(data) {
                    $("tr").removeClass("is-selected");
                    $("a[href='#result']").removeClass("is-warning");
                    $("a[href='#result']").html('<i class="fa fa-play"></i>');
                  });
                return false;
            });

            $("#track-volume").bind("mouseup touchend", function(){
                $.getJSON($SCRIPT_ROOT + '/set_volume', {
                    volume: $("#track-volume").val()
                  });
                return false;
            });

            (function worker() {
              $.getJSON($SCRIPT_ROOT + '/get_status', function(data) {
                if (data.status == "playing")
                {
                    $thumb_tag = '<img src="'.concat(data.thumbnail);
                    $thumb_tag = $thumb_tag.concat('" alt="Image">');
                    $("#track-thumb").html($thumb_tag);
                    $("#track-title").html(data.title);
                    $("#track-duration").html(data.duration);
                    $("#track-volume").attr('value', data.volume);
                    $("#track-container").removeClass("is-hidden");

                    $link_selector = "#".concat(data.video_id)
                    $row_selector = $link_selector.concat("-row")
                    $($row_selector).addClass("is-selected");
                    $($link_selector).addClass("is-warning");
                    $($link_selector).html('<i class="fa fa-stop"></i>');
                }
                else
                {
                    $("#track-container").addClass("is-hidden");
                }
                setTimeout(worker, 5000);
              });
            })();
        });
    </script>

</head>
<body style="background-color: #FFB16C">
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">
            YouTube player web interface
        </h1>
        <form name="search_box" action="/" method="get">
            <div class="field" id="input_container">
                <div class="control has-icons-left has-icons-right">
                    <input id="input_field" name="search" class="input" type="text"
                           placeholder="Enter search phrase and hit [Enter]">
                    <span class="icon is-small is-left">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </span>
                    <a href="#submit_search">
                    <span id="input_icon" class="icon is-small is-right">
                            <i class="fa fa-search"></i>
                    </span></a>
                </div>
            </div>
        </form>
    </div>

    <div class="container box is-hidden" id="track-container" style="margin-top: 10px;">
        <div class="level-item has-text-centered">
            <div>
                <p class="title" id="track-title"></p>
                <p class="heading">title</p>
            </div>
        </div>
        <article class="media" style="margin-top: 10px;">
            <div class="media-left">
                <figure class="image is-128x128" id="track-thumb">
                    <img src="" alt="Image">
                </figure>
            </div>
            <nav class="media-content">
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="title">
                                <input class="slider is-success is-circle" id="track-volume" step="1" min="0" max="100"
                                       value="50" type="range">
                            </p>
                            <p class="heading">volume</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="title" id="track-duration"></p>
                            <p class="heading">duration</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered"><a class="button" id="track-stop">
                        <span class="icon is-small"><i class="fa fa-stop"></i></span>
                    </a></div>
                </nav>
            </nav>
        </article>
    </div>

    <div class="container" style="margin-top: 30px;">
        {% if display_results %}
        <h2>Search results</h2>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th><i class="fa fa-circle-o-notch" aria-hidden="true"></i></th>
                <th>Title</th>
                <th>Play</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th><i class="fa fa-circle-o-notch" aria-hidden="true"></i></th>
                <th>Title</th>
                <th>Play</th>
                <th></th>
            </tr>
            </tfoot>
            <tbody>
            {% for result in search_results %}
            <tr id="{{ result['video_id'] }}-row" >
                <th></th>
                <td> {{ result['title'] }} </td>
                <td>
                    <a id="{{ result['video_id'] }}" href="#result" class="button">
                        <i class="fa fa-play"></i>
                    </a>
                </td>
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</section>
</body>
</html>